In [2]:
import pandas as pd

from sklearn.linear_model import LinearRegression

In [3]:
moneyball_data_path = ('C:/Users/ozded/Documents/Data/baseball.csv')
moneyball = pd.read_csv(moneyball_data_path)

In [4]:
moneyball = moneyball.query('Year < 2002', inplace = False)
moneyball.describe()

,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG
count,902.000000,902.000000,902.000000,902.000000,902.000000,902.000000,902.000000,902.000000,154.000000,154.000000,902.000000,90.000000,90.000000
mean,1982.356984,703.809313,703.809313,80.881375,0.324961,0.390412,0.258153,0.170732,2.792208,2.454545,161.906874,0.340478,0.432500
std,11.556504,93.314579,93.784100,11.403424,0.015391,0.033110,0.013266,0.376483,1.557924,1.016793,0.702127,0.015416,0.025658
min,1962.000000,463.000000,472.000000,40.000000,0.277000,0.301000,0.214000,0.000000,1.000000,1.000000,158.000000,0.301000,0.377000
25%,1973.000000,641.250000,640.000000,73.000000,0.314000,0.368000,0.250000,0.000000,2.000000,2.000000,162.000000,0.329000,0.416000
50%,1983.000000,695.000000,697.000000,81.000000,0.324000,0.388000,0.258000,0.000000,2.500000,3.000000,162.000000,0.342000,0.432500
75%,1992.000000,761.750000,763.000000,89.000000,0.335000,0.411750,0.267000,0.000000,4.000000,3.000000,162.000000,0.350000,0.450750
max,2001.000000,1009.000000,1103.000000,116.000000,0.373000,0.485000,0.294000,1.000000,8.000000,4.000000,165.000000,0.384000,0.499000

In [5]:
moneyball = moneyball.assign(
    RD = moneyball['RS'] - moneyball['RA']
    )
moneyball.head()

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG,RD
330,ANA,AL,2001,691,730,75,0.327,0.405,0.261,0,NaN,NaN,162,0.331,0.412,-39
331,ARI,NL,2001,818,677,92,0.341,0.442,0.267,1,5.0,1.0,162,0.311,0.404,141
332,ATL,NL,2001,729,643,88,0.324,0.412,0.260,1,7.0,3.0,162,0.314,0.384,86
333,BAL,AL,2001,687,829,63,0.319,0.380,0.248,0,NaN,NaN,162,0.337,0.439,-142
334,BOS,AL,2001,772,745,82,0.334,0.439,0.266,0,NaN,NaN,161,0.329,0.393,27

In [6]:
X = moneyball[['RD']]
y = moneyball[['W']]
WinReg = LinearRegression(fit_intercept = True).fit(X, y)
print('Slope {} | Intercept {}'.format(WinReg.coef_, WinReg.intercept_))
print('R2 Score {}'.format(WinReg.score(X, y)))

Slope [[0.10576562]] | Intercept [80.88137472]
R2 Score 0.8808103719972755